



<div class="container">
    <div class="row">
        <div class="col">

            <div class="row g-3">
                <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">

                    <label for="" class="form-label">Title</label>
                    <input type="text" class="form-control">


                </div>

                <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">

                    <label for="" class="form-label">Description</label>
                    <input type="text" class="form-control">


                </div>

                <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">

                    <label for="" class="form-label">Category</label>
                    <br>
                    <input type="checkbox" id="book" name="book" value="book">
                    <label for="vehicle1">Book</label><br>
                    <input type="checkbox" id="pen" name="pen" value="pen">
                    <label for="vehicle2"> Pen</label><br>


                </div>

               

                <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">

                    <button class="btn btn-info">ADD</button>
                </div>
            </div>
        </div>
    </div>
</div>
